<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">All Users</h4>
            </div>

        </div> <!-- end row -->
    </div>
    <!-- end page-title -->

    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <table id="datatable" class="table dataTable no-footer"
                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email Id</th>
                                <th>Phone number</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each user}}
                            <tr>
                                <td>{{this.Username}}</td>
                                <td>{{this.Email}}</td>
                                <td>{{this.mobileNumber}}</td>
                                <td>
                                    {{#if this.active}}
                                    <p class="text-success m-0">Active User</p>
                                    {{else}}
                                    <p class="text-danger m-0">Blocked User</p>
                                    {{/if}}
                                </td>
                                <td class="text-center">
                                    {{#if this.active}}
                                    <button type="button" class="btn w-75 btn-danger waves-effect waves-light"><a
                                            href="/admin/blockUser/{{this._id}}"onclick="return confirm('Do you want to block this user')" class="text-white">Deactive</a>
                                    </button>
                                    {{else}}
                                    <button type="button" class="btn w-75 btn-success waves-effect waves-light"><a
                                            href="/admin/activate/{{this._id}}"onclick="return confirm('Do you want to active this user')" class="text-white">Active</a> </button>

                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->




</div>
<!-- container-fluid -->

</div>
<!-- content -->

{{!-- <footer class="footer">
    © 2019 - 2020 Stexo <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i>
        by Themesdesign</span>.
</footer> --}}

</div>