    <!-- search area start -->
    <div class="search__area">
        <div class="search__close">
            <button type="button" class="search__close-btn search-close-btn"><i class="fal fa-times"></i></button>
        </div>
        <div class="search__wrapper">
            <h4>Searching</h4>
            <div class="search__form">
                <form action="#">
                    <div class="search__input">
                        <input type="text" placeholder="Search Products">
                        <button type="submit">
                            <i class="far fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- search area end -->
    <main>
         <section class="slider-area p-rel">
            <div class="slider-active dot-style dot-style-1 dot-right">
                <div class="single-slider p-rel bg-bottom-left d-flex align-items-center slider-height " style="background:rgb(243, 243, 243);" data-background="assets/img/slider/home5/slider-1.png">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xxl-6  col-xl-6 col-lg-6 col-md-6 pt-60 pb-10 pt-md-0 pb-md-0">
                                <div class="slider-content-5">
                                    <span class="s-subtitle-5 pb-25" data-animation="fadeInUp" data-delay=".3s"> Perfect for your !</span>
                                    <h2 class="s-title s-title-5 pb-28 text-uppercase" data-animation="fadeInUp" data-delay=".5s">Feet</h2>
                                    <p class="s-desc pb-50" data-animation="fadeInUp" data-delay=".7s">Bring on the fun and excitement every one of our shoes brings </p>
                                    <div data-animation="fadeInUp" data-delay=".9s">
                                    <a href="/allproducts" class="has-underline has-underline-2 has-underline-sm d-inline-block">Discover now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-md-6">
                                <div class="slider-thumbs thumb-5 p-rel text-md-end">
                                    <img src="/images/slider/bnr-1.png" alt="" class="lg-shape d-inline-block" data-animation="fadeInUp" data-delay=".7s">
                                    <img src="/images/slider/bnr-2.png" alt="" class="sm-shape d-none d-xl-inline-block" data-animation="fadeInUp" data-delay=".9s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider p-rel bg-bottom-left d-flex align-items-center slider-height " style="background:rgb(243, 243, 243);" data-background="assets/img/slider/home5/slider-2.jpg">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xxl-6  col-xl-6 col-lg-6 col-md-6 pt-60 pb-10 pt-md-0 pb-md-0">
                                 <div class="slider-content-5">
                                    <span class="s-subtitle-5 pb-25" data-animation="fadeInUp" data-delay=".3s"> Perfect for your !</span>
                                    <h2 class="s-title s-title-5 pb-28 text-uppercase" data-animation="fadeInUp" data-delay=".5s">Feet</h2>
                                    <p class="s-desc pb-50" data-animation="fadeInUp" data-delay=".7s">Bring on the fun and excitement every one of our shoes brings </p>
                                    <div data-animation="fadeInUp" data-delay=".9s">
                                    <a href="/allproducts" class="has-underline has-underline-2 has-underline-sm d-inline-block">Discover now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-md-6">
                                <div class="slider-thumbs thumb-5 p-rel text-md-end">
                                    <img src="/images/slider/bnr-2.png" alt="#" class="lg-shape d-inline-block" data-animation="fadeInUp" data-delay=".7s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider p-rel bg-bottom-left d-flex align-items-center slider-height " style="background:rgb(243, 243, 243);" data-background="assets/img/slider/home5/slider-3.jpg">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xxl-6  col-xl-6 col-lg-6 col-md-6 pt-60 pb-10 pt-md-0 pb-md-0">
                                <div class="slider-content-5">
                                    <span class="s-subtitle-5 pb-25" data-animation="fadeInUp" data-delay=".3s"> Perfect for your !</span>
                                    <h2 class="s-title s-title-5 pb-28 text-uppercase" data-animation="fadeInUp" data-delay=".5s">Feet</h2>
                                    <p class="s-desc pb-50" data-animation="fadeInUp" data-delay=".7s">Bring on the fun and excitement every one of our shoes brings </p>
                                    <div data-animation="fadeInUp" data-delay=".9s">
                                    <a href="/allproducts" class="has-underline has-underline-2 has-underline-sm d-inline-block">Discover now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-md-6">
                                <div class="slider-thumbs thumb-5 p-rel text-md-end">
                                    <img src="/images/slider/bnr-1.png" alt="#" class="lg-shape d-inline-block" data-animation="fadeInUp" data-delay=".7s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-scroll-2 slider-scroll-5 p-abs center-scroll">
                <a href="#category-area"><i class="fal fa-angle-double-left"></i> <span>Scroll Down</span></a>
        <!-- slider area end -->
            </div>
        </section>
         <!-- category start -->
       <div class="category-area pb-75 mt-5" id="category-area">
            <div class="pl-20 pr-20">
                <div class="row row-2">
                    <div class="section-title top-selling-title text-center pb-47">
                            <span class="p-subtitle">Explore The Shopping</span>
                            <h3 class="p-title pb-15 mb-0">Categories</h3>
                            <p class="p-desc">Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis
                                eget maecenas.</p>
                        </div>
                     <div class="col-xxl-12 col-xxl-12 col-xl-12 col-md-12 col-12 row">
                        {{#each category}} 
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <a href="/categoryview/{{this._id}}">
                                    <div class="single-category mb-20 p-rel wow fadeInUp" data-wow-delay=".3s">
                                        <div class="cat-thumb fix">
                                            <img src="/images/categories/{{this.image}}" style="height:300px; object-fit:cover;" alt="#">
                                        </div>
                                        <div class="cat-content text-center text-white p-abs bottom-left" style="background-color:rgba(0, 0, 0, 0.521);">
                                            <h4 class="pb-15">{{this.Categoryname}}</h4>
                                            {{!-- <span class="cat-subtitle">18 Products</span> --}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{/each}}
   
                    </div>
                </div>
            </div>
        </div>
        <!-- category end -->

        <!-- top selling start -->
        {{!-- <div class="category-area pb-75" id="category-area">
            <div class="pl-20 pr-20">
                <div class="row row-2">
                     <div class="section-title top-selling-title text-center pb-47">
                            <span class="p-subtitle">Explore The Shopping</span>
                            <h3 class="p-title pb-15 mb-0">Trending</h3>
                            <p class="p-desc">Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis
                                eget maecenas.</p>
                        </div>
                    {{#each product}}
                    <div class="col-xxl-6 col-xl-6 col-md-6 col-12">
                        <div class="single-category mb-20 p-rel wow fadeInUp" data-wow-delay=".1s">
                            <a href="shop.html">
                                <div class="cat-thumb fix">
                                    <img src="images/product/{{this[2].image.[0]}}" alt="#">
                                </div>
                                <div class="cat-content p-abs bottom-left">
                                    <h4 class="pb-15">Women Collection 2020/21</h4>
                                    <span class="cat-subtitle">18 Products</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-xxl-6 col-xxl-6 col-xl-6 col-md-6 col-12">
                        <div class="row row-2">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <a href="shop.html">
                                    <div class="single-category mb-20 p-rel wow fadeInUp" data-wow-delay=".3s">
                                        <div class="cat-thumb fix">
                                            <img src="images/category/category-2.jpg" alt="#">
                                        </div>
                                        <div class="cat-content p-abs bottom-left">
                                            <h4 class="pb-15">Sneaker SS/21</h4>
                                            <span class="cat-subtitle">18 Products</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <a href="shop.html">
                                    <div class="single-category mb-20 p-rel wow fadeInUp" data-wow-delay=".6s">
                                        <div class="cat-thumb fix">
                                            <img src="images/category/category-3.jpg" alt="#">
                                        </div>
                                        <div class="cat-content p-abs bottom-left">
                                            <h4  class="pb-15">Men’s Collection 2020/21</h4>
                                            <span class="cat-subtitle">12 Products</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xxl-12">
                                <a href="shop.html">
                                    <div class="single-category mb-20 p-rel wow fadeInUp" data-wow-delay=".9s">
                                        <div class="cat-thumb fix">
                                            <img src="images/category/category-4.jpg" alt="#">
                                        </div>
                                        <div class="cat-content p-abs bottom-left">
                                            <h4  class="pb-15">Blazer Cotton SS/21</h4>
                                            <span class="cat-subtitle">28 Products</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div> --}}
        <!-- top selling area end -->
 
        <!-- top selling area start -->
        <div class="top-selling-area top-selling-padding pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="section-title top-selling-title text-center pb-47">
                            <span class="p-subtitle">Explore The Lookbook</span>
                            <h3 class="p-title pb-15 mb-0">Latest Products</h3>
                            <p class="p-desc">Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis
                                eget maecenas.</p>
                        </div>
                    </div>
                </div>
                <div class="row pb-20">
                    {{#each product}}
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-product mb-15 wow fadeInUp" data-wow-delay=".1s">
                            <div class="product-thumb">
                                <a href="/product_detail/{{this._id}}">
                                <img src="images/product/{{this.image.[0]}}" alt="#">
                                <img src="images/product/{{this.image.[1]}}" alt="#">
                                </a>
                                <div class="cart-btn cart-btn-1 p-abs">
                                     <button onclick="addToCart('{{this._id}}')"
                                                        class="w-100 cart-btn cart-btn-1 p-abs">Add to carts</button>
                                </div>
                                {{!-- <span class="discount discount-1 p-abs">-20%</span> --}}
                                {{!-- <div class="product-action product-action-1 p-abs">
                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModal" >
                                        <i class="fal fa-eye"></i>
                                        <i class="fal fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-heart"></i>
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-layer-group"></i>
                                        <i class="fal fa-layer-group"></i>
                                    </a>
                                </div> --}}
                            </div>
                            <div class="product-content">
                                 <div style="min-height:40px; max-height:40px;">
                                <h4 class="pro-title pro-title-1"><a href="#">{{this.Name}}</a></h4>
                                                                                           </div>
                                {{#if this.offer}}
                                <div class="pro-price">
                                    <span class="text-danger fw-bold"><span>Rs </span> {{this.discounted_price}}</span>
                                    <del class="ms-4"><span class="fw-bold">Rs </span> {{this.price}}</del>
                                </div>
                                {{else}}
                                 <div class="pro-price">
                                    <span class="text-danger fw-bold"><span>Rs </span> {{this.discounted_price}}</span>
                                </div>
                                {{/if}}
                                {{!-- <div class="rating">
                                    <i class="fal fa-star active"></i>
                                    <i class="fal fa-star active"></i>
                                    <i class="fal fa-star active"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="btn-area text-center wow fadeInUp" data-wow-delay=".7s">
                            <div class="p-btn p-btn-1">
                                <a href="/allProducts">SHOW ALL PRODUCTS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- top selling area end -->

        <!-- banner area start -->
        {{!-- <div class="banner-area pb-95">
            <div class="pl-20 pr-20">
                <div class="row row-2">
                    <div class="col-xxl-6 col-lg-6 col-md-6">
                        <div class="single-banner p-rel fix mb-30 mb-md-0">
                            <div class="thumb">
                                <img src="images/banner/banner-1.jpg" class=" wow fadeInRight h-100"
                                    data-wow-delay=".10s" alt="#">
                            </div>
                            <div class="banner-content banner-content-1 wow fadeInLeft" data-wow-delay=".10s">
                                <span>For women products</span>
                                <h4><a href="shop.html">Premium Travel Backpack</a></h4>
                                <p>Choose this leather Sandler backpack from Puik Store</p>
                                <div class="p-btn p-btn-2">
                                    <a href="shop.html">SHOP COLLECTION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-lg-6 col-md-6">
                        <div class="single-banner p-rel fix wow fadeInRight" data-wow-delay=".15s">
                            <div class="thumb ">
                                <img src="images/banner/banner-2.jpg" class=" wow fadeInRLeft h-100"
                                    data-wow-delay=".10s" alt="#">
                            </div>
                            <div class="banner-content banner-content-1  wow fadeInLeft" data-wow-delay=".15s">
                                <span>For man products</span>
                                <h4><a href="shop.html">Fashion At College party</a></h4>
                                <p>The Most Popular Fashion Incase Of Collection</p>
                                <div class="p-btn p-btn-2">
                                    <a href="shop.html">SHOP COLLECTION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <!-- banner area end -->

        <!-- blog area start -->
        {{!-- <div class="blog-area pb-60">
            <div class="container">
                <div class="row mb-45">
                    <div class="col-xxl-12">
                        <div class="section-title text-center">
                            <span class="p-subtitle">Explore The Blog</span>
                            <h3 class="p-title pb-15 mb-0">Latest Blog Posts</h3>
                            <p class="p-desc">Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis
                                eget maecenas.</p>
                        </div>
                    </div>
                </div>
                <div class="blog-active owl-carousel">
                    <div class="col-xxl-12">
                        <div class="single-blog wow fadeInUp" data-wow-delay=".4s">
                            <div class="blog-thumb">
                                <a href="blog-details.html"><img src="images/blog/blog-1.jpg" alt="#"></a>
                            </div>
                            <div class="blog-content">
                                <a href="#" class="tag-btn">SHOPPING</a>
                                <div class="blog-meta">
                                    Post date <a href="#"><span>20 Sep 2020</span></a> / By <a
                                        href="#"><span>Admin</span></a>.
                                </div>
                                <h5 class="blog-title blog-title-1"><a href="blog-details.html">Bringing LED lighting Into Your Home
                                        Shouldn't be Complicated.</a></h5>
                                <p>Claritas est etiam processus A Capitalize on low
                                    hanging fruit to identify a ballpark value added
                                    activity to beta test...</p>
                                <div class="p-btn p-btn-3">
                                    <a href="blog-details.html">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12">
                        <div class="single-blog  wow fadeInUp" data-wow-delay=".6s">
                            <div class="blog-thumb">
                                <a href="blog-details.html"><img src="images/blog/blog-2.jpg" alt="#"></a>
                            </div>
                            <div class="blog-content">
                                <a href="#" class="tag-btn">LIFESTYLE</a>
                                <div class="blog-meta">
                                    Post date <a href="#"><span>20 Sep 2020</span></a> / By <a
                                        href="#"><span>Admin</span></a>.
                                </div>
                                <h5 class="blog-title blog-title-1"><a href="blog-details.html">How Show Is Going To Change Your
                                        Business Strategies.</a></h5>
                                <p>Changing business strategies typically involves analyzing your current business
                                    Review industry benchmarks to</p>
                                <div class="p-btn p-btn-3">
                                    <a href="blog-details.html">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12">
                        <div class="single-blog  wow fadeInUp" data-wow-delay=".8s">
                            <div class="blog-thumb">
                                <a href="blog-details.html"><img src="images/blog/blog-3.jpg" alt="#"></a>
                            </div>
                            <div class="blog-content">
                                <a href="#" class="tag-btn">FASHION</a>
                                <div class="blog-meta">
                                    Post date <a href="#"><span>20 Sep 2020</span></a> / By <a
                                        href="#"><span>Admin</span></a>.
                                </div>
                                <h5 class="blog-title blog-title-1"><a href="blog-details.html">The Worst Advices We've Heard For
                                        Show.</a></h5>
                                <p>If you’re like most people, none of your emergency red flags will go flying up.
                                    You’ll hear these lavish praises as supportive...</p>
                                <div class="p-btn p-btn-3">
                                    <a href="blog-details.html">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12">
                        <div class="single-blog wow fadeInUp" data-wow-delay="1s">
                            <div class="blog-thumb">
                                <a href="blog-details.html"><img src="images/blog/blog-4.jpg" alt="#"></a>
                            </div>
                            <div class="blog-content">
                                <a href="#" class="tag-btn">HANDBAG</a>
                                <div class="blog-meta">
                                    Post date <a href="#"><span>20 Sep 2020</span></a> / By <a
                                        href="#"><span>Admin</span></a>.
                                </div>
                                <h5 class="blog-title blog-title-1"><a href="blog-details.html">Seven Things You Should Know About
                                        Handbag.</a></h5>
                                <p>Handbags are one of the most important things in a woman’s life. Sometimes, people
                                    after monitoring your personality...</p>
                                <div class="p-btn p-btn-3">
                                    <a href="blog-details.html">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <!-- blog area end -->

         <!-- service area start -->
        <div class="service-area bg-light pt-100 pb-65 mb-100 wow fadeInUp" style="visibility: visible; animation-delay: .7s; animation-name: fadeInUp;">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-11">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-service center-text mb-30">
                                    <img src="images/service/service-1.png" alt="">
                                    <h5>Free Worldwide Shipping</h5>
                                    <p>All orders of £120 or more of eligible items across any product category qualify.</p>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-service center-text mb-30">
                                    <img src="images/service/service-2.png" alt="">
                                    <h5>24/7 Customer Service</h5>
                                    <p>Please contact us if you have any questions about 
                                        the purchase and warranty.</p>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-service center-text mb-30">
                                    <img src="images/service/service-3.png" alt="">
                                    <h5>Money Back Guarantee</h5>
                                    <p>You can return any item purchased on Puik within 
                                        20 days of the delivery date.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service area end -->

      

        <!-- subscribe area start -->
        <div class="subscribe-area pb-100 gray-bg-2 pt-95">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="section-title text-center">
                            <span class="p-subtitle">OUR NEWSLETTER</span>
                            <h3 class="p-title pb-15 mb-0">join our newsletter</h3>
                            <p class="p-desc  pb-15">Subscribe to the Puik Store mailing list to receive updates on new
                                arrivals, special offers<br>
                                and other discount information.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-8">
                        <div class="subscribe-form text-center">
                            <form action="#">
                                <input type="text" placeholder="Your email address...">
                                <button type="submit" class="subscribe-btn subscribe-btn-1">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- subscribe area end -->

        <!-- product modal area start -->
        {{!-- <div class="product__modal-area modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="product__modal-inner position-relative">
                    <div class="product__modal-close">
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti-close"></i>
                        </button>
                    </div>
                    <div class="product__modal-left">
                        <div class="tab-content mb-10" id="productModalThumb">
                            <div class="tab-pane fade show active" id="pro-1" role="tabpanel" aria-labelledby="pro-1-tab">
                                <div class="product__modal-thumb w-img">
                                    <img src="assets/img/products/modal/product-modal-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-2" role="tabpanel" aria-labelledby="pro-2-tab">
                                <div class="product__modal-thumb w-img">
                                    <img src="assets/img/products/modal/product-modal-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-3" role="tabpanel" aria-labelledby="pro-3-tab">
                                <div class="product__modal-thumb w-img">
                                    <img src="assets/img/products/modal/product-modal-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-4" role="tabpanel" aria-labelledby="pro-4-tab">
                                <div class="product__modal-thumb w-img">
                                    <img src="assets/img/products/modal/product-modal-4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="product__modal-nav">
                            <ul class="nav nav-tabs" id="productModalNav" role="tablist">
                                <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pro-1-tab" data-bs-toggle="tab" data-bs-target="#pro-1" type="button" role="tab" aria-controls="pro-1" aria-selected="true">
                                    <img src="assets/img/products/modal/product-modal-sm-1.jpg" alt="">
                                </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pro-2-tab" data-bs-toggle="tab" data-bs-target="#pro-2" type="button" role="tab" aria-controls="pro-2" aria-selected="false">
                                    <img src="assets/img/products/modal/product-modal-sm-2.jpg" alt="">
                                </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pro-3-tab" data-bs-toggle="tab" data-bs-target="#pro-3" type="button" role="tab" aria-controls="pro-3" aria-selected="false">
                                    <img src="assets/img/products/modal/product-modal-sm-3.jpg" alt="">
                                </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pro-4-tab" data-bs-toggle="tab" data-bs-target="#pro-4" type="button" role="tab" aria-controls="pro-4" aria-selected="false">
                                    <img src="assets/img/products/modal/product-modal-sm-4.jpg" alt="">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__modal-right">
                        <h3 class="product__modal-title">
                            <a href="product-details.html">Living Room Lighting</a>
                        </h3>
                        <div class="product__modal-rating d-flex align-items-center">
                            <ul class="mr-10">
                                <li>
                                    <a href="#"><i class="ti-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-star"></i></a>
                                </li>
                            </ul>
                            <div class="customer-review">
                                <a href="#">(1 customer review)</a>
                            </div>
                        </div>
                        <div class="product__modal-price mb-10">
                            <span class="price new-price">$700.00</span>

                            <span class="price old-price">$899.99</span>
                        </div>
                        <div class="product__modal-available">
                            <p> Availability: <span>In Stock</span> </p>
                        </div>
                        <div class="product__modal-sku">
                            <p> Sku: <span> 0026AG90-1</span> </p>
                        </div>
                        <div class="product__modal-des">
                            <p>Typi non habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod legunt saepius.…</p>
                        </div>
                        <div class="product__modal-quantity mb-15">
                            <h5>Quantity:</h5>
                            <form action="#">
                                <div class="pro-quan-area d-sm-flex align-items-center">
                                    <div class="product-quantity mr-20 mb-25">
                                        <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                    </div>
                                    <div class="product__modal-cart mb-25">
                                        <button class="product-modal-cart-btn " type="submit">Add to cart</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="product__modal-categories d-sm-flex align-items-center">
                            <span>Categories: </span>
                            <ul>
                                <li><a href="#">Decor, </a></li>
                                <li><a href="#">Lamp, </a></li>
                                <li><a href="#">Lighting</a></li>
                            </ul>
                        </div>
                        <div class="product__modal-categories d-sm-flex align-items-center">
                            <span>Tags: </span>
                            <ul>
                                <li><a href="#">Furniture, </a></li>
                                <li><a href="#">Lighting, </a></li>
                                <li><a href="#">Living Room, </a></li>
                                <li><a href="#">Table</a></li>
                            </ul>
                        </div>
                        <div class="product__modal-share d-sm-flex align-items-center">
                            <span>Share this product: </span>
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div> --}}
        <!-- product modal area start -->

        <!-- popup area start -->
        <div class="subscribe-popup d-none">
            <div class="subscribe-wrapper s-popup-padding h-100">
                <div class="pl-75 pr-75">
                    <div class="row">
                        <div class="col-xxl-6">
                            <div class="subscribe-content">
                                <div class="logo mb-65">
                                    <a href="index.html"><img src="assets/img/logo/logo-black.png" alt=""></a>
                                </div>
                                <h4 class="popup-title">Comming Soon</h4>
                                <p class="popup-desc">We’ll be here soon with our new<br> 
                                    awesome site, subscribe to be notified.</p>
                                <div class="comming-countdown  pb-45">
                                    <div class="countdown-inner" data-countdown="" data-date="Mar 02 2024 20:20:22">
                                        <ul>
                                            <li><span data-days="">401</span> Days</li>
                                            <li><span data-hours="">1</span> hours</li>
                                            <li><span data-minutes="">29</span> mins</li>
                                            <li><span data-seconds="">40</span> secs</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="subscribe-form-2 mb-30">
                                    <input type="email" placeholder="Enter your email...">
                                    <button class="p-btn border-0">Subscribe</button>
                                </div>
                                <div class="popup-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fal fa-basketball-ball"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="subscribe-thumb" data-background="assets/img/popup/subscribe-bg.jpg"></div>
        </div>
        <!-- popup area end -->


        

    </main>
