<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area-3 pt-130 ">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb-wrapper-2 text-center">
                        <h3>Orders</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <!-- Cart Area Strat-->
    <section class="cart-area pt-5 pb-50">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Date</th>
                                        <th class="cart-product-name">Address</th>
                                        <th class="product-subtotal">Contact</th>
                                        <th class="product-remove">Amount</th>
                                        <th class="product-remove">Payment</th>
                                        <th class="product-remove">Status</th>
                                        <th class="product-remove">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each Orders}}
                                    <tr class="text-start">
                                        <td>
                                            <p class="m-0">{{this.date}}</p>
                                        </td>
                                        <td>
                                            <p class="m-0">{{this.address.address}},{{this.address.street}}</p>
                                            <p class="m-0">{{this.address.pinCode}},{{this.address.country}}</p>
                                        </td>
                                        <td>
                                            <p class="m-0">{{this.address.mobile}}</p>
                                            <p class="m-0">{{this.address.email}}</p>
                                        </td>
                                        <td>
                                            {{#if this.Wallet}}
                                            {{!-- <p class="m-0">{{this.paymentmethod}} : <span>{{this.total}}</span></p>
                                            <p class="m-0">Wallet : <span>{{this.Wallet}}</span></p> --}}
                                            <p class="m-0">Total : <span>{{this.totalAmount}}</span></p>
                                            
                                            {{else}}
                                            <p class="m-0">Total : <span>{{this.totalAmount}}</span></p>
                                            {{/if}}
                                        </td>
                                        <td>
                                            <p class="m-0">{{this.paymentmethod}}</p>
                                        </td>
                                        <td>
                                            <p class="m-0" id="status">{{this.status}}</p>
                                        </td>
                                        <td class="">
                                            {{#if_eq this.status 'Deliverd'}}
                                            <div>
                                                <a href="/returnproduct/{{this._id}}"
                                                    class="w-100 btn btn-danger">Return Product</a>
                                            </div>
                                            {{else}}
                                            <div>
                                                <a href="/viewOrderProduct/{{this._id}}"
                                                    class="w-100 btn btn-success">View Product</a>
                                            </div>
                                            {{#if this.cancelled}}
                
                                            {{else}}
                                            <div class="mt-2">
                                                <a href="/cancelOrder/{{this._id}}" class="w-100 btn btn-danger"><small>
                                                        Cancel YOur Order </small></a>
                                            </div>
                                               {{/if}}
                                               {{/if_eq}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Area End-->
    <!-- subscribe area start -->
    <div class="subscribe-area pb-100 gray-bg-2 pt-95">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="section-title text-center">
                        <span class="p-subtitle">OUR NEWSLETTER</span>
                        <h3 class="p-title pb-15 mb-0">join our newsletter</h3>
                        <p class="p-desc  pb-15">Subscribe to the Puik Store mailing list to receive updates on new
                            arrivals, special offers<br>
                            and other discount information.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-xl-8">
                    <div class="subscribe-form text-center">
                        <form action="#">
                            <input type="text" placeholder="Your email address...">
                            <button type="submit" class="subscribe-btn subscribe-btn-1">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- subscribe area end -->

    <!-- popup area start -->
    <div class="subscribe-popup d-none">
        <div class="subscribe-wrapper s-popup-padding h-100">
            <div class="pl-75 pr-75">
                <div class="row">
                    <div class="col-xxl-6">
                        <div class="subscribe-content">
                            <div class="logo mb-65">
                                <a href="index.html"><img src="assets/img/logo/logo-black.png" alt=""></a>
                            </div>
                            <h4 class="popup-title">Comming Soon</h4>
                            <p class="popup-desc">We’ll be here soon with our new<br>
                                awesome site, subscribe to be notified.</p>
                            <div class="comming-countdown  pb-45">
                                <div class="countdown-inner" data-countdown="" data-date="Mar 02 2024 20:20:22">
                                    <ul>
                                        <li><span data-days="">401</span> Days</li>
                                        <li><span data-hours="">1</span> hours</li>
                                        <li><span data-minutes="">29</span> mins</li>
                                        <li><span data-seconds="">40</span> secs</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="subscribe-form-2 mb-30">
                                <input type="email" placeholder="Enter your email...">
                                <button class="p-btn border-0">Subscribe</button>
                            </div>
                            <div class="popup-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-thumb" data-background="assets/img/popup/subscribe-bg.jpg"></div>
    </div>
    <!-- popup area end -->

</main>

<script>
    var DateFormats = {
       short: "DD MMMM - YYYY",
       long: "dddd DD.MM.YYYY HH:mm"
};


Handlebars.registerHelper("formatDate", function(datetime, format) {

// Use UI.registerHelper..
UI.registerHelper("formatDate", function(datetime, format) {
  if (moment) {
    // can use other formats like 'lll' too
    format = DateFormats[format] || format;
    return moment(datetime).format(format);
  }
  else {
    return datetime;
  }
});
</script>
